@mixin flex {
  display: flex;
}

header {
  background-image: url(./assets/img/images/header-image-homepage.jpg);
  height: 100vh;
}

.navi {
  @include flex();

  ul {
    list-style-type: none;
  }

  li {
    color: white;
    text-transform: uppercase;
    margin-right: 20px;

    a:active {
      color: #3bafbf;
    }

    .background {
      background-color: #3bafbf;
      padding: 10px;
    }
  }
}

.message {
  max-width: 500px;

  .background {
    background-color: #3bafbf;
    height: 30px;
  }
}
