@mixin flex {
  display: flex;
}

.jumbotron {
  background-image: url(./assets/img/images/header-image-homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.navi {
  @include flex();

  ul {
    list-style-type: none;
  }

  li {
    color: white;
    text-transform: uppercase;
    margin-right: 20px;

    a:active {
      color: #3bafbf;
    }

    .background {
      background-color: #3bafbf;
      padding: 10px;
    }
  }
}

.message {
  max-width: 500px;

  .background {
    background-color: #3bafbf;
  }
}

.welcomeMessage {
  width: 500px;
}

.boxMessage {
  span {
    text-transform: uppercase;
  }
}

.welcome {
  min-height: 50vh;
}

.docSection {
  min-height: 70vh;
  background-color: #dddddd;

  .icon {
    width: 70px;
  }
}

.jumbotronTour {
  background-image: url(./assets/img/images/paralax-bg-tour-facilities.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  color: white;

  p {
    width: 500px;
    margin: 20px 0;
  }

  .icon {
    width: 70px;
  }
}

.threeBoxes {
  height: 10vh;
  color: white;

  span {
    font-size: large;
  }

  .emergency {
    background-color: #3bafbf;
  }

  .expert {
    background-color: #3896c2;
  }

  .superb {
    background-color: #327ec7;
  }

  p {
    padding: 10px;
  }
}

.jumbotronApp {
  background-image: url(./assets/img/images/make-an-appointment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  color: white;
}

.form {
  width: 600px;
}
