@mixin flex {
  display: flex;
}

.jumbotron {
  background-image: url(./assets/img/images/header-image-homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.navi {
  @include flex();

  ul {
    list-style-type: none;
  }

  li {
    color: white;
    text-transform: uppercase;
    margin-right: 20px;

    a:active {
      color: #3bafbf;
    }

    .background {
      background-color: #3bafbf;
      padding: 10px;
    }
  }
}

.message {
  max-width: 500px;

  .background {
    background-color: #3bafbf;
  }
}

.welcomeMessage {
  width: 500px;
}

.boxMessage {
  span {
    text-transform: uppercase;
  }
}

.welcome {
  min-height: 50vh;
}

.ourDoctors {
  min-height: 70vh;
  background-color: #dddddd;

  .icon {
    width: 70px;
  }
}

.card {
}
